{% extends 'Home/base.html' %}
{% block title %}Add a Record{% endblock %}
{% block employee_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Employee Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'home:details' employee.id %}">
                        </a>
                    <h1>{{ employee.first_name }} {{employee.last_name}}</h1>
                    <h2>{{ employee.address }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Record Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'home:details' employee.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'home:create_check' employee.id %}">Add New Record</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Record</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="employee" value="{{ employee }}">
                        {% include 'Home/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}