{% extends 'Home/base.html' %}
{% block title %}Employee Information{% endblock %}
{% block employee_active %}active{% endblock %}

{% block body %}
<div class="container-fluid check-container">

    <div class="row">

        <!-- Left Employee Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'home:details' employee.id %}"></a>
                    <h1>{{ employee.first_name }} {{employee.last_name}}</h1>
                    <h2>{{ employee.address }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Record Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'home:details' employee.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'home:create_check' employee.id %}">Add New Record</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Records</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Time in</th>
                            <th>Time out</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for check in employee.check_set.all %}
                            <tr>
                                <td>{{ check.time_in }}</td>
                                <td>{{ check.time_out }}</td>
                            
                                <td>
                                    <form action="{% url 'home:delete_check' employee.id check.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="check_id" value="{{ check.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}